.mention-list {
  display: flex;
  flex-direction: column!important;
  align-items: start!important;
  width: 130px;
  max-height: 200px;
  min-height: 100px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  box-shadow: 0px 4px 11px #000;
  overflow-y: auto!important;
}

.mention-list li {
  transition: background 0.3s;
  border-top: 1px solid #f5f5f5;
  margin: 0!important;
  width: 100%;
  padding: 5px;
}

.mention-list li:nth-child(1) {
  background: #f5f5f5;
}

.mention-list li:hover {
  background: #f5f5f5;
  cursor: pointer;
}
.mention-name{
  background: #3370ff;
  color: #ffffff!important;
  padding: 1px 4px;
  border-radius: 15px;
  text-decoration: none;
}
.mention-list-empty-text{
  padding: 5px;
  color: #858585;
}
@media (max-width: 800px) {
  #mention_container{
    width: 93%;
    position: absolute;
    top: unset;
    bottom: 43px;
    right: 1rem;
    left: 1rem;
  }
  .mention-list{
    width: 100%;
  }
}