<div id="mention_container" class="toolbar enabledtoolbar" style="display: none; border-radius: 5px;">
  <div class="menu_inline" role="toolbar">
    <ul id="inline_mention" class="mention-list">
    </ul>
  </div>
</div>